<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devfabien Blogs| <%= title %></title>
</head>
<body>
    <%- include("./components/nav.ejs") %>
    <div>
        <h1>All Blogs</h1>

    <% if(blogs.length > 0){ %>
       <% blogs.forEach(blog => { %>
<h3><%= blog.title %></h3>
<p><%= blog.snippet %></p>
      <% }) %>
    <% } else { %>
        <p>There are no blogs to display...</p>
        <% } %>
    </div>
    <%- include("./components/footer.ejs") %>

</body>
</html>